
<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<meta http-equiv="Cоntent-Type" content="text/html" charset="utf-8">
	<title>Poslovna Banka</title>

	<!-- Stilovi -->
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/mainStyles.css">
    
  <!-- Glavni JavaScript  -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular-cookies.js"></script>
	<script type="text/javascript" src="js/angular-ui-router.js"></script>
	<script type="text/javascript" src="js/ngStorage.min.js"></script>
	<script type="text/javascript" src="js/angular-jwt.min.js"></script>

	<!-- Glavni modul i Rutiranje  -->
	<script type="text/javascript" src="appParts/mainModule.js"></script>

	<!-- Servisi  -->
	<script type="text/javascript" src="appParts/services/userService.js"></script>
	<script type="text/javascript" src="appParts/services/sluzbenikService.js"></script>
	<script type="text/javascript" src="appParts/services/exportService.js"></script>

	<!-- JavaScript za Komponente  -->
	<script type="text/javascript" src="appParts/centerComponent/centerController.js"></script>
	<script type="text/javascript" src="appParts/loginComponent/loginController.js"></script>
	<script type="text/javascript" src="appParts/klijentComponent/klijentHomeController.js"></script>
	<script type="text/javascript" src="appParts/klijentIzvodiComponent/klijentIzvodiController.js"></script>
	<script type="text/javascript" src="appParts/kreirajRacunComponent/kreirajRacunController.js"></script>
	<script type="text/javascript" src="appParts/nalogComponent/nalogController.js"></script>
	<script type="text/javascript" src="appParts/upravljanjeRacunimaComponent/upravljanjeRacunimaController.js"></script>
	<script type="text/javascript" src="appParts/importComponent/importController.js"></script>
	<script type="text/javascript" src="appParts/izvestajiComponent/izvestajiController.js"></script>

</head>
<body>

	<div ng-controller="centerController">
	<nav class="navbar navbar-expand-lg navbar-background">
		<a class="navbar-brand naslov" href="#">Poslovna Banka</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"><img src="assets/images/down-arrow.png" height="35" width="35"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<a href="#" class="navbar-left"><img src="assets/images/bank.png" height="50" width="50"></a>
		  <ul class="navbar-nav mr-auto">

			<li class="nav-item active" ng-show="isKlijent">
				<a class="btn btn-link nav-link" ui-sref="nalog">Nalog za prenos</a>
			</li>

			<li class="nav-item active" ng-show="isKlijent">
				<a class="btn btn-link nav-link" ui-sref="racuni">Pregled stanja racuna</a>
			</li>

		  </ul>

		  <ul class="nav navbar-nav navbar-right">
				<li class="nav-item" ng-if="logovaniKorisnik.korisnickoIme == undefined">
					<a class="btn btn-link nav-link" ui-sref="login">Prijava</a>
				</li>
				<li class="nav-item" ng-if="logovaniKorisnik.korisnickoIme != undefined">
					<p class="navbar-text">Prijavljeni ste kao:</p>
				</li>
			
				<li class="nav-item dropdown" ng-if="logovaniKorisnik.korisnickoIme != undefined">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{logovaniKorisnik.korisnickoIme}}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="dropdownCombo">
						<a class="dropdown-item" ui-sref="klijent">Moj profil</a>
						<a class="dropdown-item" ui-sref="izvestaji">Izvestaji</a>
						<a class="dropdown-item" ui-sref="noviRacun">Otvori novi racun</a>
						<a class="dropdown-item" ui-sref="upravljanjeRacunima">Upravljanje racunima</a>
						<a class="dropdown-item" ui-sref="importNaloga">Import naloga</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" ng-click="odjaviSe()">Odjavite se</a>
					</div>
				</li>
		  </ul>
		</div>
	  </nav>
		

		<div>
			<ui-view></ui-view>
		</div>
	
	</div>
</body>
