<div class="row gap-top-md" ng-init="initUpravljanjeRacunima()">

    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        
        <div class="pozadina-plava card card-block bg-faded">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="naslov-zuti-centar">Pregled stanja racuna</h3>
                </div>
                        
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th class="col-lg-2">Broj racuna</th>
                            <th class="col-lg-1">Valuta</th>
                            <th class="col-lg-2">Banka</th>
                            <th class="col-lg-2">Datum otvaranja</th>
                            <th class="col-lg-1"></th>
                            <th class="col-lg-1"></th>
                            <th class="col-lg-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="racun in racuni" ng-class="{'racun-neaktivan': !racun.vazeci}">
                            <td class="col-lg-2">{{racun.brojRacuna}}</td>
                            <td class="col-lg-1">{{racun.valuta.zvanicnaSifra}}</td>
                            <td class="col-lg-2">{{racun.poslovnaBanka.naziv}}</td>
                            <td class="col-lg-2">{{parsirajDatum(racun.datumOtvaranja)}}</td>
                            <td ng-if="racun.vazeci" class="col-lg-1"><button class="btn btn-info" ng-click="izvrsiUplatu(racun)">Uplata</button></td>
                            <td ng-if="racun.vazeci" class="col-lg-1"><button class="btn btn-info" ng-click="izvrsiIsplatu(racun)">Isplata</button></td>
                            <td ng-if="racun.vazeci" class="col-lg-2"><button class="btn btn-info" ng-click="deaktiviraj($index)">Deaktiviraj</button></td>
                            <td ng-if="!racun.vazeci" class="col-lg-2"><button class="btn btn-info" ng-click="aktiviraj($index)">Aktiviraj</button></td>
                        </tr>  
                    </tbody>
                </table>

                <div class="top-bottomn-margin-xs">
                    <button class="btn btn-info right-items" ng-click="next()">&#x21E8;</button>
                    <button class="btn btn-info right-items">{{pageNum}}</button>
                    <button class="btn btn-info right-items" ng-click="prev()">&#x21E6;</button>
                </div>

            </div> 
        </div>

        <div class="gap-top-md pozadina-plava card card-block bg-faded" ng-if="isPrenos">
            <h3 class="naslov-zuti-centar">Prenesite sredstva na racun:</h3>
            <form name="forma" class="gap-top-xs">
                <input type="text" class="top-bottomn-margin-xs form-control" name="naRacun" id="naRacun" ng-model="naRacun" placeholder="Broj racuna" ng-pattern="/^[0-9]{3}-[0-9]{1,13}-[0-9]{2}$/" ng-required="true"/>
                <span class="poruka-greska" ng-show="forma.naRacun.$dirty && forma.naRacun.$error.pattern">Neispravan format broja racuna.</span>
                <button type="button" class="logregBtn btn btn-md btn-info col-lg-12" name="potvrdiPrenos" ng-disabled="forma.$invalid" ng-click="potvrdiPrenos(naRacun)">Posalji</button>
            </form>
        </div>
         <div class="gap-top-md pozadina-plava card card-block bg-faded" ng-show="isUplata">
            <h3 class="naslov-zuti-centar">Uplata na racun:</h3>
            <table style="border: 1px solid #ddd;" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td style="width: 10px">&nbsp;</td>
                            <td style="width: 350px">
                                <table style="width: 100%; border-collapse: collapse" cellpadding="3">
                                    <tbody><tr>
                                        <td>
                                            <span>Naziv platioca</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea ng-model="uplata.nazivUplatioca" rows="3" cols="40" style="width: 340px"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">
                                            <span>Svrha placanja</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea ng-model="uplata.svrhaPlacanja" rows="3" cols="40" style="width: 340px"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">
                                            <span>Naziv primaoca</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea ng-model="uplata.tekst" rows="3" cols="40" style="width: 340px; margin-bottom: 10px" disabled>
                                            	
                                            </textarea>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </td>
                            <td style="width: 10px">&nbsp;</td>
                            <td style="width: 1px; border-right: 1px solid #ddd">&nbsp;</td>
                            <td style="width: 10px">&nbsp;</td>
                            <td style="width: 250px" valign="top">
                                <table style="width: 100%; border-collapse: collapse" cellpadding="3">
                                    <tbody><tr>
                                        <td style="text-align: left">
                                            <span >Sifra placanja</span>
                                        </td>
                                        <td rowspan="2">
                                        </td>
                                        <td>
                                            <span >Valuta</span>
                                        </td>
                                        <td rowspan="2">
                                        </td>
                                        <td style="text-align: right">
                                            <span >Iznos</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 400px">

                                                        <select required>
                                                            <option>253 – uplata tekucih prihoda</option>
                                                        </select>

                                        </td>
                                        <td nowrap="nowrap" style="width:40px">
                                            <input type="text"  id="uplata.valuta" disabled="true" style="width:40px">
                                        </td>
                                        <td style="text-align: right">
                                            <input required ng-model="uplata.iznos" type="text" style="text-align:right; width: 100px"  maxlength="16">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <span ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="padding-top: 10px">
                                            <span>Racun primaoca</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" nowrap="nowrap">
                                            <input required ng-model="uplata.racun.brojRacuna" disabled type="text" size="13" maxlength="13">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <span>Model i poziv na broj (odobrenja)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" nowrap="nowrap">
                                            <input required ng-model="uplata.modelOdobrenja" type="text" size="2" maxlength="2">
                                            <input ng-model="uplata.pozivNaBroj" type="text" size="27" maxlength="25">
                                        </td>
                                    </tr>
                                    <tr >
                                        <td colspan="5">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td>Datum placanja</td>
                                                </tr>
                                                <tr>
                                                    <td><input required type="date" name="date" id="projDate" ng-model="uplata.date" min="currentDate"></td>
                                                    <td colspan="5">
                                                        <input id="hitno" ng-model='uplata.hitno' type="checkbox"> <span>Hitno</span>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
									<tr>
									</tr>
                                    </tbody></table>
                                    	<br>
										<button ng-click="finalnaUplata()">izvrsi uplatu</button>
                            </td>
                            <td style="width: 10px">&nbsp;</td>
                            
                        </tr>
                        </tbody></table>
        </div>
        <div class="gap-top-md pozadina-plava card card-block bg-faded" ng-show="isIsplata">
            <h3 class="naslov-zuti-centar">Isplata sa racuna:</h3>
            <table style="border: 1px solid #ddd;" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td style="width: 10px">&nbsp;</td>
                            <td style="width: 350px">
                                <table style="width: 100%; border-collapse: collapse" cellpadding="3">
                                    <tbody><tr>
                                        <td>
                                            <span>Naziv isplatioca</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea ng-model="isplata.nazivUplatioca" rows="3" cols="40" style="width: 340px"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px">
                                            <span>Svrha isplate</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <textarea ng-model="isplata.svrhaPlacanja" rows="3" cols="40" style="width: 340px">na zahtev klijenta</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tbody></table>
                            </td>
                            <td style="width: 10px">&nbsp;</td>
                            <td style="width: 1px; border-right: 1px solid #ddd">&nbsp;</td>
                            <td style="width: 10px">&nbsp;</td>
                            <td style="width: 250px" valign="top">
                                <table style="width: 100%; border-collapse: collapse" cellpadding="3">
                                    <tbody><tr>
                                        <td style="text-align: left">
                                            <span >Sifra placanja</span>
                                        </td>
                                        <td rowspan="2">
                                        </td>
                                        <td>
                                            <span >Valuta</span>
                                        </td>
                                        <td rowspan="2">
                                        </td>
                                        <td style="text-align: right">
                                            <span >Iznos</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 400px">

                                                        <select required>
                                                            <option>266 – isplata gotovine</option>
                                                        </select>

                                        </td>
                                        <td nowrap="nowrap" style="width:40px">
                                            <input type="text"  id="isplata.valuta" disabled="true" style="width:40px">
                                        </td>
                                        <td style="text-align: right">
                                            <input required ng-model="isplata.iznos" type="text" style="text-align:right; width: 100px"  maxlength="16">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <span ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" style="padding-top: 10px">
                                            <span>Sa racuna</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" nowrap="nowrap">
                                            <input required ng-model="isplata.racun.brojRacuna" disabled type="text" size="13" maxlength="13">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <span>Model i poziv na broj (odobrenja)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" nowrap="nowrap">
                                            <input required ng-model="isplata.modelOdobrenja" type="text" size="2" maxlength="2">
                                            <input ng-model="isplata.pozivNaBroj" type="text" size="27" maxlength="25">
                                        </td>
                                    </tr>
                                    <tr >
                                        <td colspan="5">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td>Datum placanja</td>
                                                </tr>
                                                <tr>
                                                    <td><input required type="date" name="date" id="projDate" ng-model="isplata.date" min="currentDate"></td>
                                                    <td colspan="5">
                                                     </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
									<tr>
									</tr>
                                    </tbody></table>
                                    	<br>
										<button ng-click="finalnaIsplata()">izvrsi isplatu</button>
                            </td>
                            <td style="width: 10px">&nbsp;</td>
                            
                        </tr>
                        </tbody></table>
        </div>
    </div>

</div>