
<div ng-init="initCenter()">
    <div>
    <br>
    </div>
    <div>
        <span>
           <!-- <img align="middle" style="display: inline-block; margin-left: auto; margin-right: auto;  width: 64px;  height: 64px;" src="assets/images/piggy-bank.png" >
-->
        <span  style="display: inline-block">
            <p >Racun
                <select ng-change="odabirRacuna(odabranRacun)"  ng-model="odabranRacun">
                    <option ng-repeat="racun in klijent.racuni">{{racun.brojRacuna}}</option>
                </select>
            </p>
            <p >Valuta: {{trenutniRacun.valuta.zvanicnaSifra}}</p>
        </span>
        <span>       </span>
        <span style="display: inline-block">
            <p>Raspoloziva sredstva: {{trenutnoStanje.novoStanje-rezervisanaSredstva}},00</p>
            <p>Rezervisana sredstva: {{rezervisanaSredstva-0}},00 </p>
        </span>
        </span>
        <br>
        <p><b>Promene stanja:</b></p>
        <div>
            <table style="table-layout: fixed; width:100%">
                <tr style="background-color:#0b5c7c; color:white">
                    <td style="width: 30; text-align: center; vertical-align: middle;">Datum prometa</td>
                    <td style="width: 30;  text-align: center; vertical-align: middle;">Prethodno stanje</td>
                    <td style="width: 30;  text-align: center; vertical-align: middle;">Promet u korist</td>
                    <td style="width: 30;  text-align: center; vertical-align: middle;">Promet na teret</td>
                    <td style="width: 30;  text-align: center; vertical-align: middle;">Novo stanje</td>
                    <td style="width: 30;  text-align: center; vertical-align: middle;">Izvestaj</td>
                </tr>
            </table>
            <table style="table-layout: fixed; width:100%">
                <tbody style="display: inline-block; height:200px; overflow-y: auto; overflow-x: hidden;">
                    <tr  style="display:table; table-layout:fixed; width:100%;" ng-repeat="ds in dnevnaStanja" style="border-bottom: 1px solid black" id="{{ds.id}}">
                        <td style="width: 30; text-align: center; vertical-align: middle;">{{ds.datumPrometa}}</td>
                        <td style="width: 30;  text-align: center; vertical-align: middle;">{{ds.prethodnoStanje}},00</td>
                        <td style="width: 30;  text-align: center; vertical-align: middle;">{{ds.prometUKorist}},00</td>
                        <td style="width: 30;  text-align: center; vertical-align: middle;">{{ds.prometNaTeret}},00</td>
                        <td style="width: 30;  text-align: center; vertical-align: middle;">{{ds.novoStanje}},00</td>
                        <td style="width: 30;  text-align: center; vertical-align: middle;"><a href="#">Preuzmi</a></td>
                    </tr>
                </tbody>
            </table>
            <br>

        </div>
        <span>
            <p style="display: inline-block"><b>Promet:</b></p>
            <div style="display: inline-block">
                <input type="radio" name="izbor" id="upl" ng-click="samoUplate()"><label for="upl" >Uplate</label>
            </div>
            <div style="display: inline-block">
                <input type="radio" name="izbor" id="ispl" ng-click="samoIsplate()"><label for="ispl" >Isplate</label>
            </div>
            <div style="display: inline-block">
                <input type="radio" name="izbor" id="sve" ng-click="sve()"><label for="sve" >Svi prenosi</label>
            </div>
        </span>
        <table style="table-layout: fixed; width:100%" id="tabelaIzvoda">

          <tr style="background-color:#0b5c7c; color:white">
              <td style="width: 30; text-align: center; vertical-align: middle;">Sa racuna</td>
              <td style="width: 30;  text-align: center; vertical-align: middle;">Na racun</td>
              <td style="width: 30;  text-align: center; vertical-align: middle;">Opis</td>
              <td style="width: 30;  text-align: center; vertical-align: middle;">Iznos</td>
              <td style="width: 30;  text-align: center; vertical-align: middle;">Datum kreiranja</td>
              <td style="width: 30;  text-align: center; vertical-align: middle;">Datum izvrsenja</td>
              <td style="width: 30;  text-align: center; vertical-align: middle;">Status naloga</td>
          </tr>
        </table>
        <table style="table-layout: fixed; width:100%" id="tabelaIzvoda2">
            <tbody style="display: inline-block; height:200px; overflow-y: auto; overflow-x: hidden;">
            <tr style="display:table; table-layout:fixed; width:100%;" ng-repeat="nalog in nalozi" style="border-bottom: 1px solid black" id="{{nalog.id}}">
                <td style="width: 30; text-align: center; vertical-align: middle;">Nalogodavac: {{nalog.nalogodavac}} <br> {{nalog.racunNalogodavca}}</td>
                <td style="width: 30; text-align: center; vertical-align: middle;">Primalac: {{nalog.primalac}} <br> {{nalog.racunPrimaoca}}</td>
                <td style="width: 30; text-align: center; vertical-align: middle;">{{nalog.svrhaPlacanja}}</td>
                <td ng-if="nalog.racunNalogodavca==odabranRacun" style="width: 30; text-align: center; vertical-align: middle;">{{nalog.iznos}},00 {{nalog.valuta.zvanicnaSifra}}</td>
                <td ng-if="nalog.racunNalogodavca!=odabranRacun" style="width: 30; text-align: center; vertical-align: middle;">{{nalog.konvertovaniIznos}},00 {{nalog.krajnjaValuta.zvanicnaSifra}}</td>
                <td style="width: 30; text-align: center; vertical-align: middle;">{{nalog.datumPrijema | date:'medium'}}</td>
                <td style="width: 30; text-align: center; vertical-align: middle;">{{nalog.datumObrade | date:'medium'}}</td>
                <td style="width: 30; text-align: center; vertical-align: middle;" ng-if="nalog.status=='E'">Evidentiran</td>
                <td style="width: 30; text-align: center; vertical-align: middle;" ng-if="nalog.status=='P'">Poslat</td>
                <td style="width: 30; text-align: center; vertical-align: middle;" ng-if="nalog.status=='I'">Izvrsen</td>
                <td style="width: 30; text-align: center; vertical-align: middle;" ng-if="nalog.status=='O'">Odbijen</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>