<div ng-init="initCenter()">
    <h1 class="naslov-zuti-centar">Dobrodosli, {{klijent.ime}}!</h1>
    <br>
    <div>
        <p>Poslednje promene racuna:
            <select>
                <option ng-repeat="racun in klijent.racuni">racun.brojRacuna</option>
            </select>
        </p>
        <table ng-if="racun.brojRacuna != ''">
            <tr>
                <td>Sa racuna:</td>
                <td>Na racun:</td>
                <td>Svrha placanja:</td>
                <td>Iznos:</td>
                <td>Datum kreiranja:</td>
                <td>Datum izvrsenja:</td>
                <td>Status naloga:</td>
            </tr>
            <tr ng-repeat="nalog in nalozi">
                <td>Nalogodavac: {{nalog.nalogodavac}} <br> {{nalog.racunNalogodavca}}</td>
                <td>Primalac: {{nalog.primalac}} <br> {{nalog.racunPrimaoca}}</td>
                <td>{{nalog.svrhaPlacanja}}</td>
                <td>{{nalog.iznos}} {{nalog.valuta.zvanicnaSifra</td>
                <td>{{nalog.datumPrijema}}</td>
                <td>{{nalog.datumObrade}}</td>
                <td ng-if="nalog.status=='E'">Evidentiran</td>
                <td ng-if="nalog.status=='P'">Poslat</td>
                <td ng-if="nalog.status=='I'">Izvrsen</td>
                <td ng-if="nalog.status=='O'">Odbijen</td>

            </tr>
        </table>
    </div>
</div>