<div ng-init="initKlijent()">
    <br>
    <h3>Osnovni podaci:</h3>
    <button ng-click="kliring()">KLIRING TEST</button>
    <div>
        <table style="table-layout: fixed; width:100%">
            <tr>
                <td>Klijent: {{klijent.ime}} {{klijent.prezime}}</td>
            </tr>
            <tr ng-if="klijent.tip=='P'">
                <td>Firma: {{klijent.naziv}}, {{klijent.skraceni_naziv}}</td>
            </tr>
            <tr ng-if="klijent.tip=='P'">
                <td>PIB: {{klijent.pib}}</td>
            </tr>
            <tr>
                <td>Adresa: {{klijent.adresa}}, {{klijent.prebivaliste.naziv}}, {{klijent.prebivaliste.drzava.naziv}}</td>
            </tr>
            <tr>
                <td>Broj telefona: {{klijent.telefon}}</td>
            </tr>
            <tr>
                <td>Email: {{klijent.email}}</td>
            </tr>
            <tr>
                <td>Telefon: {{klijent.telefon}}, Fax: {{klijent.fax}}</td>
            </tr>
            <tr><td><p></p></td></tr>
            <tr>
                <td><b>Racuni:</b></td>

            </tr>
        </table>
        <table style="table-layout: fixed; width:100%">
            <tbody style="display: inline-block; ">
                <tr  style="display:table; table-layout:fixed; width:100%;background-color:#0b5c7c; color:white">
                    <td style="width: 15%; text-align: center; vertical-align: middle;">Broj racuna:</td>
                    <td style="width: 15%; text-align: center; vertical-align: middle;">Valuta:</td>
                    <td style="width: 15%; text-align: center; vertical-align: middle;">Status:</td>
                    <td style="width: 5%; text-align: center; vertical-align: middle;"><p>  </p></td>
                    <td style="width: 50%; text-align: center; vertical-align: middle;"><p>  </p></td>
                </tr>
            </tbody>
        </table>
        <table style="table-layout: fixed; width:100%">
            <tbody style="display: inline-block; height:400px; overflow-y: auto; overflow-x: hidden;">
            <tr style="display:table; table-layout:fixed; width:100%;" ng-repeat="racun in klijent.racuni">
                <td style="width: 15%; text-align: center; vertical-align: middle;">{{racun.brojRacuna}}</td>
                <td style="width: 15%; text-align: center; vertical-align: middle;">{{racun.valuta.zvanicnaSifra}}</td>
                <td style="width: 15%; text-align: center; vertical-align: middle;" ng-if="racun.vazeci==true">Aktivan</td>
                <td style="width: 15%; text-align: center; vertical-align: middle;" ng-if="racun.vazeci==false">Neaktivan</td>
                <td ng-if="racun.vazeci==true" style="width: 5%;  text-align: center; vertical-align: middle;"><button style="padding: 0; border: none; background: none;" ng-click="showDelete(racun.id)"><img class="clearDelete" src="../../../assets/images/delete.png" width="20" height="20" title="Ugasi" alt="Ugasi" />
                </button></td>
                <td ng-if="racun.vazeci!=true" style=" text-align: left; vertical-align: middle;">
                    <p> </p>
                    <p> </p></td>
                <td ng-if="racun.vazeci==true" id="{{racun.id}}" style="width: 50%; text-align: center; vertical-align: middle; visibility:hidden">

                        <span style="display:inline-block">
                            <p>Unesite broj racuna za prenos preostalih sredstava sa odabranog racuna za gasenje: </p>
                            <input style="display:inline-block" required ng-model="oznakaBanke" type="text" size="3" maxlength="3">&nbsp;-
                            <input style="display:inline-block" required ng-model="racunPt2" type="text" size="13" maxlength="13">&nbsp;-
                            <input style="display:inline-block" required ng-model="racunPt3" type="text" size="2" maxlength="2">
                            <button style="display:inline-block; padding: 0; border: none; background: none;" ng-click="deleteRacun(racun)"><img class="clearDelete" src="../../../assets/images/approve.png" width="20" height="20" title="Potvrdi" alt="Potvrdi" />
                            </button>
                                    <button  style="display:inline-block; padding: 0; border: none; background: none;" ng-click="cancelDelete(racun.id)"><img class="clearDelete" src="../../../assets/images/cancel.png" width="20" height="20" title="Odustanak" alt="Odustanak" />
                            </button>
                        </span>


                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>