.navbar-background{
    background: #0b5c7c;
}

.nav-link, .navbar-left, .nav-item {
    color:#f8ff95;
    font-size: 18px;
    text-shadow: 1px 1px 1px #383535;
}

.navbar-brand {
    color: #fff566;
    font-size: 22px;
    text-shadow: 1px 1px 1px #383535;
}

.navbar-right{
    margin-top:20px; 
}

#dropdownCombo {
    background: #fff06a;
}

.naslov-zuti-centar {
    color: #fff566;
    font-size: 22px;
    text-shadow: 1px 1px 1px #383535;
    text-align: center;
}

.labela-forma-zuta{
    color: #fff566;
    font-size: 18px;
    text-shadow: 1px 1px 1px #383535;
}

.poruka-greska {
    color: #f32121;
    font-size: 16px;
    text-shadow: 1px 1px 1px #383535;
    font-weight: 600;
}

.pozadina-plava{
    background : #0b5c7c
}

.top-bottomn-margin-xs {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gap-top-xs{
    margin-top: 5px;
}

.gap-top-md{
    margin-top: 10px;
}

.gap-top-lg{
    margin-top: 20px;
}